/* Estilos enlaces */

a {
  color: white;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

a:hover {
  color: whitesmoke;
  letter-spacing: 0.05em;
  text-shadow: 0px 1px 1px black;
  text-shadow: 1px 0px 0px gray inset;
}


/* Navbar */

.pages {
  background-color: #19191B;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  padding: 4px 14px 10px 26px;
}

.home {
  padding-bottom: 2.4px;
  padding-right: 20px;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 80%;
}

.justify-content-end {
  flex-direction: row;
}
